@import "tailwindcss";

@theme{
    --color-very-dark-blue: #131518;
    --color-dark-blue: #262E38;
    --color-light-grey: #969FAD;
    --color-medium-grey: #7C8798;
    --color-orange: #FC7614;

    --tracking-1: 1.867px;

    --font-overpass: "Overpass", "sans-serif";
}

@layer utilities{
    bg-gradieny-dark{
        background-image: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);;
    }
}